## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [2]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')

df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [11]:
# View the column names in the data
df.columns
# df.columns[2] - get the column name for that index

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [31]:
# Use the describe function to gather some basic statistics
df.describe

<bound method NDFrame.describe of            first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year         item_id     category  \
0              17        2023  EUD29711-63-6U        decor
1              20        2023  XDA18116-89-4A  consumables
2               4        2023  ABE59463-05-7E     software
3              17        2023  ZMM00836-65-0C  consumables
4              21        2023  BZX55559-12-3X  consumables
...           ...         ...             ...          ...
54634          17        2023  UCA28532-31-0B     software
54635           6        2023  EBD29277-23-7U  consumables
54636           9        2023  EBD30093-55-9Z  consumables
54637           3        2023  XMZ38239-49-3D    furniture
54638           1        2023  ZCZ05589-50-5D     software

              subcategory  unit_price  unit_cost  unit_weight   qty  \
0                wall art     1096.80     762.71         7.50   105
1                    pens       24.95      15.09         1.49    21
2      project management       13.52       7.86         1.68    39
3                    pens       36.42      24.85         1.23    29
4                    misc      195.10     108.17        46.43    20
...                   ...         ...        ...          ...   ...
54634           logistics       83.13      51.60         2.25    33
54635    kitchen supplies      206.59     175.46        11.70    47
54636   bathroom supplies       65.66      57.31         4.16   475
54637              stands        1.48       1.22        18.04   112
54638  project management        3.01       1.61         2.07  1031

       line_number
0                1
1                0
2                6
3                3
4                1
...            ...
54634            8
54635            0
54636            6
54637            0
54638            5

[54639 rows x 18 columns]>

In [12]:
# Use this space to do any additional research
# and familiarize yourself with the data.

df.columns[2]

'job'

In [13]:
# What three item categories had the most entries?
category_counts = df['category'].value_counts()
category_counts

category
consumables    23538
furniture      11915
software        8400
decor           7954
electronics     2832
Name: count, dtype: int64

In [15]:
# For the category with the most entries,
# which subcategory had the most entries?
subcategory_counts = df['subcategory'].value_counts()
subcategory_counts

subcategory
bathroom supplies     6424
paper products        5874
kitchen supplies      5746
tables                4540
misc                  4286
stands                4201
accounting            3756
project management    3522
plants                3466
wall art              3093
seating               2664
pens                  2603
logistics             1122
telecom                978
audio visual           732
cabling                655
desks                  510
computers              467
Name: count, dtype: int64

In [16]:
df.loc[df['category'] == 'consumables', 'subcategory'].value_counts().head(1)

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [20]:
# Which five clients had the most entries in the data?
client_entries = df['client_id'].value_counts().head()
print(client_entries)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [27]:
# Store the client ids of those top 5 clients in a list.
top_5_clients = list(df["client_id"].value_counts().head().index)
print(top_5_clients)

[33615, 66037, 46820, 38378, 24741]

In [37]:
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [36]:
# How many total units (the qty column) did the
# client with the most entries order order?
df.loc[df['client_id'] == 33615, 'qty'].sum()

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [85]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty
df["subtotal"] = df["unit_price"] * df["qty"]
df[['unit_price', 'qty', 'subtotal']].head(2)

   unit_price  qty   subtotal
0     1096.80  105  115164.00
1       24.95   21     523.95

In [54]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.

def shipping_cal (weight):
    if weight > 50:
        return weight * 7
    return weight * 10
    
df['shipping_weight'] = df['unit_weight'] * df['qty']

df['shipping_price'] = df['shipping_weight'].apply(shipping_cal)

df[['qty', 'unit_weight', 'shipping_weight', 'shipping_price']].head(2)

   qty  unit_weight  shipping_weight  shipping_price
0  105         7.50           787.50          5512.5
1   21         1.49            31.29           312.9

In [63]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%
df['total_price'] = round((df['line_sub'] + df['shipping_price']) * 1.0925, 2)

df[['line_sub', 'shipping_price', 'total_price']].head(2)

    line_sub  shipping_price  total_price
0  115164.00          5512.5    131839.08
1     523.95           312.9       914.26

In [73]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).
df['total_cost'] = df['unit_cost'] * df['qty'] + df['shipping_price']
df[['qty', 'shipping_price', 'total_cost']].head(2)

   qty  shipping_price  total_cost
0  105          5512.5    85597.05
1   21           312.9      629.79

In [76]:
# Create a column for the profit of
# each line using line cost and line price
df['total_profit'] = df['total_price'] - df['total_cost']
df[['total_price', 'total_cost', 'total_profit']].head(2)

   total_price  total_cost  total_profit
0    131839.08    85597.05      46242.03
1       914.26      629.79        284.47

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [80]:
# Check your work using the totals above - first make a list with the order numbers, run through the order list 
order_ids = [2742071, 2173913, 6128929]
#order_ids is a list containing some order IDs.

def order_price (order_id):
    order_lines_df = df.loc[df['order_id'] == order_id, "total_price"]
    return round(order_lines_df.sum(), 2)
#There's a function defined named find_order_price(order_id). This function takes an order ID as input and does the following:
#It locates the rows in a DataFrame df where the 'order_id' column matches the given order ID.
#Then, it selects the values from the 'line_price' column corresponding to those rows.
#Finally, it sums up those values and rounds the result to two decimal places before returning it.

for order_id in order_ids:
    print(f"{order_id}, ${order_price(order_id)}")
#A loop iterates over each order ID in the order_ids list. For each order ID, it prints out a message
#showing the order ID and its total price by calling the find_order_price() function for that order ID.

2742071, $152811.89
2173913, $162388.71
6128929, $923441.25

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [97]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.
#def qty_spend 

#def qty_spend(client_ids, df):
 #   client_spend = {}
    
  #  for client_id in client_ids[:5]:  # Limit to the top 5 clients
   #     total_spend = df[df['client_id'] == client_id]['qty'].sum() * df[df['client_id'] == client_id]['price'].mean()
    #    client_spend[client_id] = total_spend
    
 #   return client_spend

def order_price (order_id):
    order_lines_df = df.loc[df['order_id'] == order_id, "total_price"]
    return round(order_lines_df.sum(), 2)
#There's a function defined named find_order_price(order_id). This function takes an order ID as input and does the following:
#It locates the rows in a DataFrame df where the 'order_id' column matches the given order ID.
#Then, it selects the values from the 'line_price' column corresponding to those rows.
#Finally, it sums up those values and rounds the result to two decimal places before returning it.

for order_id in order_ids:
    print(f"{order_id}, ${order_price(order_id)}")
#A loop iterates over each order ID in the order_ids list. For each order ID, it prints out a message
#showing the order ID and its total price by calling the find_order_price() function for that order ID.

2742071, $152811.89
2173913, $162388.71
6128929, $923441.25

In [99]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.


#top_5_clients = [33615, 66037, 46820, 38378, 24741]  # Replace with actual top 5 client IDs

#summary_data = []

#for client_id in top_5_clients:
 #   total_units_purchased = df[df['client_id'] == client_id]['qty'].sum()
  #  total_shipping_price = df[df['client_id'] == client_id]['shipping_price'].sum()
   # total_profit = df[df['client_id'] == client_id]['total profit'].sum()
    #total_profit = total_revenue - total_shipping_price  # Assuming profit is revenue - shipping price
    
  #  summary_data.append({
  #      'Client ID': client_id,
   #     'Total Units Purchased': total_units_purchased,
   #     'Total Shipping Price': total_shipping_price,
   #     'Total Profit': total_profit,
   #     'Total Profit': total_profit
   # })

# Create a DataFrame from the summary data
summary_df = pd.DataFrame(summary_data)

# Sort the DataFrame by total profit
summary_df = summary_df.sort_values('Total_Profit', ascending=False)

# Display the summary DataFrame
print(summary_df)




data_dict = {'client_id': top_5_clients}
columns = ['qty', 'shipping_price', 'line_price', 'line_cost', 'line_profit']
for col in columns:
    data_dict[col] = [client_totals(client_id, col) for client_id in top_5_clients]
    
summary_df = pd.DataFrame(data_dict).sort_values('line_profit', ascending=False)
summary_df

KeyError: 'Total_Profit'

In [100]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

# make sure the variables are suited for you data.

money_cols = ['line_price', 'shipping_price', 'line_cost', 'line_profit']

def currency_format_millions(amount):
    return f"${amount/1000000:.2f}M"

for col in money_cols:
    summary_df[col] = summary_df[col].apply(currency_format_millions)

rename_dict = {
    'client_id': 'Client ID',
    'line_price': 'Total Revenue',
    'shipping_price': 'Shipping',
    'qty': 'Units',
    'line_cost': 'Total Cost',
    'line_profit': 'Total Profit'
}

summary_df = summary_df.rename(columns = rename_dict)

KeyError: 'line_price'

In [101]:
# Sort the updated data by "Total Profit" form highest to lowest

summary_df.sort_values('Total Profit', ascending=False)

KeyError: 'Total Profit'